.exeperienceBar {
    display: flex;
    align-items:center;

}

.exeperienceBar span { 
  font-size: 1rem;
}

.exeperienceBar > div { 
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
  }

  .exeperienceBar > div > div {
      height: 4px;
      border-radius: 4px;
      background: var(--green-light);
  }  

  span.currentexperience {
      position: absolute;
      top: 12px;
      transform: translateX(-50%);
  }